* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    color: rgb(235, 77, 103);
}